<h1>Witam z apki Spring</h1>

<ul>
    {{#videos}}
        <li>{{title}}</li>
    {{/videos}}
</ul>

<form action="/new-video" method="post">
    <input type="text" name="title">
    <button type="submit">Submit</button>
</form>